main.dark {
    box-shadow: 0 0 0 1000px rgba(0,0,0,.4), inset 0 0 0 1000px rgba(0,0,0,.4);
}

main.dark .end {
    border-bottom-style: none;
}

/*main.light {*/
    /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);*/
/*}*/

#sidenav {
    /* border-right-style: solid;
    border-right-color: #eaecef; */
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafbfe;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    transition: 0.2s;
    padding-top: 60px;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-weight: 600;
}

#sidenav a:hover {
    color: #660000;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidenav nav {
    margin-top: 50px;
}

.sidebar-button {
    display: flex;
}

#navbar {
    z-index: 2;
    background-color: #fff;
    position: fixed;
    width: 100%;
    /* border-bottom-style: solid;
    border-bottom-color: #eaecef; */
    padding-bottom: 10px;
    padding-top: 0.6rem;
    top: 0px;
}

#navbar .logo {
    height: 1.5rem;
    margin-right: 2rem;
    margin-left: 1.3rem;
    min-width: 2rem;
    vertical-align: top;
}

#navbar svg {
    height: 1.5rem;
    width: 1.5rem;
}

#navbar .sitename {
    font-size: 1.3rem;
    font-weight: 600;
}

nav .indent {
    margin-left: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

@media screen and (max-height: 450px) {
    #sidenav { padding-top: 15px; }
    #sidenav a { font-size: 18px; }
}

.home .banner img {
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-height: 5rem;
    max-width: 100%;
}

.banner {
    padding-bottom: 0px;
    padding-top: 25px;
}

.home .banner h1 {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 19.2px;
    margin-top: 19.2px;
    /* width: 95%; */
    text-align: center; 
}

.home .banner p {
    display: block;
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
    text-align: center;
}

.home {
    overflow: auto;
    display: block;
    width: 98%;
    margin: auto;
    text-align: center;
}

.home h2, .home h3 {
    text-align: center;
}

.home p {
    display: block;
    line-height: 1.3;
    text-align: center;
}

.home ul, .home ol {
    list-style-position: inside;
    line-height: 1.3;
    text-align: left;
    padding-left: 30%;
}

.home .special {
    padding-left: 15%;
}

.home .end {
    border-bottom-style: solid;
    border-bottom-color: #cccccc; 
    padding-bottom: 20px;
}

code:not(main.dark code) {
    font-family: Consolas, "courier new";
    background-color: #f1f1f1;
    border-radius: 7px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.overflow {
    overflow: auto !important;
    padding-left: 0%;
}

a {
    color: #0b70be;
}
